html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#dancingPepes {
	position: absolute;
	bottom:0;
	text-align: center;
	width: 100%;
	opacity:0;
}

@keyframes appear {
	from {bottom:-302px;}
	to {bottom:0px;}
}


#pepeDance {
	width: 220px;
	height: 302px;
}

#player {
	position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#cover {
	position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  width: 400px;
  height: 370px;
  animation-name: zoom;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes zoom {
  from {width: 400px;}
  to {width: 480px;}

  from {height: 370px;}
  to {height: 444px;}
}